{% extends "base.twig" %}
{% block content %}
{% if hero_widget %}
	{{ hero_widget }}
	{% else %}
	<p class="set-up-needed">Set up your Hero Widget with Featured Hero Section from the Admin Appearance Widgets Panel.</p>
{% endif %}
<div class="featured-posts-section clearfix">
	{% if featured_posts %}
		{{ featured_posts }}
	{% else %}
		<p class="set-up-needed">Set up your Featured Posts with Featured Posts Section from the Admin Appearance Widgets Panel.</p>
	{% endif %}
</div>

	<div class="front-page-articles clearfix">
	{% set counter = 0 %}
	<div class="col-sm-12 col-md-4">
		{% for post in posts %}
			{% include ['tease-frontpage.twig', 'tease.twig'] %}
			{% set counter = counter + 1 %}
			{%if counter % 3 == 0%}
				</div>
				<div class="col-sm-12 col-md-4">
			{% endif %}

		{% endfor %}
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}